.profile-side{
  width: 100%;
  max-width: 162px;
  position: absolute;
  right: 0px;

  img{
    max-width: 40px;
    border-radius: 50px;
    position: relative;
    top: 8px;
  }

  .name-btn{
    background: transparent;
    cursor: pointer;
    font-size: 17px;
    position: relative;
    top: 8px;
  }
  .btn:focus, .fc button:focus, .btn.focus, .fc button.focus{
    box-shadow: none;
  }

  .dropdown-menu{
    left: -93px;
    top:56px;
    box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.13);
  }
}


.navbar-brand{
  background: none !important;
  background-color: #6eda44 !important;
  text-align: center;
  color: #fff;
  font-size: 27px;
  font-weight: 900;
   img{
    width:100% !important;
    max-width: 170px !important;
  }
}


@media (max-width: 768px) {
  .profile-side{
    img{
      display: none;
    }
    .name-btn{
      left: 67px;
      color: #fff;
      font-weight: bold;
    }
    .dropdown-menu{
      left: -22px;
    }
    .app-header .navbar-toggler {
      color: #ffffff;
    }
  }
}
