<header class="app-header navbar">
  <button class="navbar-toggler mobile-sidebar-toggler hidden-lg-up" type="button">&#9776;</button>
  <a class="navbar-brand" href="#"><img src="assets/img/home-logo.png"></a>
  <ul class="nav navbar-nav hidden-md-down">
    <li class="nav-item">
      <a class="nav-link navbar-toggler sidebar-toggler" href="#">&#9776;</a>
    </li>
  </ul>

    <div class="profile-side">
      <img src="assets/img/profile.jpg">
      <div ngbDropdown class="d-inline-block">
        <button class="btn name-btn" id="dropdownBasic1" ngbDropdownToggle>Admin</button>
        <div class="dropdown-menu" aria-labelledby="dropdownBasic1">
          <button class="dropdown-item" (click)="open(content)">Change Password</button>
          <button class="dropdown-item" [routerLink]="['/logout']">Logout</button>
        </div>
      </div>
    </div>
</header>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Change Password</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <input name="oldpassword" id="input1" type="password" [(ngModel)]="changePasswordModel.oldPassword" placeholder="Old Password" class="form-control icon1" required></div>
    <div class="form-group">
      <input name="newpassword" type="password" placeholder="New Password" [(ngModel)]="changePasswordModel.newPassword" class="form-control icon2" required></div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)=changePassword()>Change Password</button>
  </div>
</ng-template>
