table {
  width:100%;
  margin-top: 30px;
  background: #fff;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  img{
    width: 100%;
    max-width: 40px;
    height: 40px;
  }
  i{
    font-size: 18px;
  }
  .btn-primary{
    color: #fff;
    background-color: #23af2d;
    border: 0px;
    padding: 7px 7px;
    font-size: 13px;
    &:hover{
      color: #fff;
      background-color: #6eda44;
      cursor: pointer;
    }
  }
  .btn-danger{
    color: #fff;
    border: 0px;
    padding: 7px 7px;
    font-size: 13px;
    &:hover{
      color: #fff;
      background-color: #ff2121;
      cursor: pointer;
    }
  }
}
select{
  width: 100%;
  padding-left: 15px;
}

.page-center{
  text-align: center;
  width: 100%;
  max-width: 100px;
  margin: 0 auto;
}

ul.pagination{
  width: 100%;
  max-width: 100px;
  margin: 0 auto;
}

