<app-header></app-header>
<div class="app-body">
  <app-sidebar></app-sidebar>

  <!-- Main content -->
  <main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active">Farm Management</li>
    </ol>

    <div class="container-fluid">
      <div class="main-content">
        <div class="body-content">
          <ngb-tabset>
            <ngb-tab title="New Requests">
              <ng-template ngbTabContent>
                <div class="table-responsive">
                <table class="table">
                  <thead>
                  <th>Sr. No.</th>
                  <th>Farm</th>
                  <th>Farm Name</th>
                  <th>Farm Address</th>
                  <th>Mobile No.</th>
                  <th></th>
                  <th></th>
                  </thead>
                  <tbody>
                  <tr *ngFor="let farm of newFarmList; let i = index">
                    <td>{{i + 1}}</td>
                    <td><img src="{{imageUrl}}{{farm.image}}" class="img img-circle"> </td>
                    <td>{{farm.farmName}}</td>
                    <td>#999 Near Box Mall, San Fransico, California</td>
                    <!--<td>{{farm.city}},{{farm.state}},{{farm.country}}</td>-->
                    <td>{{farm.mobile}}</td>
                    <!--<td><button class="btn btn-primary" (click)="viewFarm(farm.iid)">View Farm</button></td>-->
                    <td><i class="fa fa-eye" (click)="viewFarm(farm.iid)"></i> </td>
                    <td>
                     <button class="btn btn-primary" (click)="acceptFarm(farm.iid)">Accept</button>
                     <button class="btn btn-danger" (click)="rejectFarm(farm.iid)">Reject</button>
                    </td>
                  </tr>
                  </tbody>
                </table>
                </div>
                <div class="page-center">
                <ngb-pagination [collectionSize]="totalElements" [pageSize]="10" [(page)]="currentPage" (pageChange)="pageChangedNew()"></ngb-pagination>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab>
              <ng-template ngbTabTitle>Approved Farm</ng-template>
              <ng-template ngbTabContent>
                <div class="table-responsive">

                <table class="table">
                  <thead>
                  <th>Sr. No.</th>
                  <th>Farm</th>
                  <th>Farm Name</th>
                  <th>Farm Address</th>
                  <th>Mobile No.</th>
                  <th></th>
                  <th></th>
                  </thead>
                  <tbody>
                  <tr  *ngFor="let farm of approvedFarmList; let i = index">
                    <td>{{i + 1}}</td>
                    <td><img src="{{imageUrl}}{{farm.image}}" class="img img-circle"> </td>
                    <td>{{farm.farmName}}</td>
                    <td>{{farm.city}},{{farm.state}},{{farm.country}}</td>
                    <td>{{farm.mobile}}</td>
                    <td><i class="fa fa-eye" (click)="viewFarm(farm.iid)"></i> </td>
                    <td>
                      <!--<button class="btn btn-primary" (click)="acceptFarm(farm.iid)">Accept</button>-->
                      <button class="btn btn-danger" (click)="rejectFarm(farm.iid)">Reject</button>
                    </td>
                  </tr>
                  </tbody>
                </table>
                </div>
                <div class="page-center">
                  <ngb-pagination [collectionSize]="totalElements" [pageSize]="10" [(page)]="currentPage" (pageChange)="pageChangedApprove()"></ngb-pagination>
                </div>
              </ng-template>
            </ngb-tab>
            <ngb-tab title="Unapproved Farm">
              <ng-template ngbTabContent>
                <div class="table-responsive">

                <table class="table">
                  <thead>
                  <th>Sr. No.</th>
                  <th>Farm</th>
                  <th>Farm Name</th>
                  <th>Farm Address</th>
                  <th>Mobile No.</th>
                  <th></th>
                  <th></th>
                  </thead>
                  <tbody>
                  <tr  *ngFor="let farm of disapprovedFarmList; let i = index">
                    <td>{{i + 1}}</td>
                    <td><img src="{{imageUrl}}{{farm.image}}" class="img img-circle"> </td>
                    <td>{{farm.farmName}}</td>
                    <td>{{farm.city}},{{farm.state}},{{farm.country}}</td>
                    <td>{{farm.mobile}}</td>
                    <td><i class="fa fa-eye" (click)="viewFarm(farm.iid)"></i> </td>
                    <td>
                      <button class="btn btn-primary" (click)="acceptFarm(farm.iid)">Accept</button>
                      <!--<button class="btn btn-danger" (click)="rejectFarm(farm.iid)">Reject</button>-->
                    </td>
                  </tr>
                  </tbody>
                </table>
                </div>
                <div class="page-center">
                  <ngb-pagination [collectionSize]="totalElements" [pageSize]="10" [(page)]="currentPage" (pageChange)="pageChangedDisapprove()"></ngb-pagination>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
    <!-- /.conainer-fluid -->
  </main>
</div>

