//
// RTL Support
//

*[dir="rtl"] {
  direction: rtl;
  unicode-bidi: embed;

  ul {
    -webkit-padding-start: 0;
  }

  table tr th {
    text-align: right;
  }

  .app-body {

  }

  // Breadcrumb

  .breadcrumb-item {
    float: right;
  }

  .breadcrumb-menu {
    right: auto;
    left: $breadcrumb-padding-x;
  }

  // Dropdown
  .dropdown-item {
    text-align: right;

    i {
      margin-right: -10px;
      margin-left: 10px;
    }

    .badge {
      right: auto;
      left: 10px;
    }
  }

  //
  // Sidebar
  //
  .sidebar-hidden {

    .sidebar {
      margin-right: - $sidebar-hide-width;
    }
  }

  .sidebar-fixed {

    .main, .app-footer {
      margin-right: $sidebar-width;
    }

    &.sidebar-hidden {

      .main, .app-footer {
        margin-right: 0;
      }
    }
  }

  .sidebar-compact {
    .sidebar {
      flex: 0 0 $sidebar-compact-width;
    }

    &.sidebar-hidden {

      .sidebar {
        margin-left: - $sidebar-compact-width;
      }
    }

    &.sidebar-fixed {

      .main, .app-footer {
        margin-left: $sidebar-compact-width;
      }

      &.sidebar-hidden {

        .main, .app-footer {
          margin-left: 50px;
        }
      }
    }
  }

  //
  // Aside Menu
  //
  .aside-menu-hidden {

    .aside-menu {
      // margin-right: 0;
      margin-left: - $aside-menu-width;
    }
  }

  .aside-menu-fixed {

    .aside-menu {
      right: auto;
      left: 0;
    }

    .main, .app-footer {
      //margin-right: 0;
      margin-left: $aside-menu-width;
    }

    &.aside-menu-hidden {

      .main, .app-footer {
        margin-left: 0;
      }
    }
  }

  .aside-menu-off-canvas {
    .aside-menu {
      position: fixed;
      right: 0;
      z-index: $zindex-navbar - 1;
      height: 100%;

      .tab-content {
        height: calc(100vh - #{$aside-menu-nav-padding-y * 2 + $font-size-base} - #{$navbar-height});
      }
    }
  }

  // Sidebar Menu
  .sidebar {
    .sidebar-nav {
      direction: ltr;
      * {
        direction: rtl;
      }
      .nav {
        .nav-item {
          .nav-link {
            [class^="icon-"], [class*=" icon-"] {
              margin-right: -4px;
            }
            .badge {
              float: left;
              margin-top: 2px;
              // margin-left: 10px;
            }
            &.nav-dropdown-toggle {
              &::before {
                position: absolute;
                right: auto !important;
                left: $sidebar-nav-link-padding-x;
              }
            }
          }
          &.nav-dropdown {
            &.open {
              > .nav-link.nav-dropdown-toggle::before {
                -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
              }
            }
          }
        }
      }
    }
  }

  // Horizontal bars
  .horizontal-bars {

    li {

      .bars {
        padding-right: 100px;
        padding-left: 0;

        .progress:first-child {
          margin-bottom: 2px;
        }
      }
    }

    &.type-2 {

      li {

        i {
          margin-right: 5px;
          margin-left: $spacer-x;
        }

        .value {
          float: left;
          font-weight: 600;
        }

        .bars {
          padding: 0;
        }
      }
    }
  }

  // Icon list
  .icons-list {

    li {
      position: relative;
      height: 40px;
      vertical-align: middle;

      i {
        float: right;
      }

      .desc {
        margin-right: 50px;
        margin-left: 0;
      }

      .value {
        right: auto;
        left: 45px;
        text-align: left;

        strong {
          display: block;
          margin-top: -3px;
        }
      }

      .actions {
        right: auto;
        left: 10px;
      }
    }
  }

  // Callouts
  .callout {
    border: 0 solid $border-color;
    border-right-width: .25rem;

    .chart-wrapper {
      left: 0;
      float: left;
    }
  }

  .callout-default {
    border-right-color: $text-muted;
  }

  .callout-primary {
    border-right-color: $brand-primary;
  }

  .callout-info {
    border-right-color: $brand-info;
  }

  .callout-warning {
    border-right-color: $brand-warning;
  }

  .callout-danger {
    border-right-color: $brand-danger;
  }

  .callout-success {
    border-right-color: $brand-success;
  }

}
