<form class="login">
  <div class="login-box">
      <img src="assets/img/farm-logo.png" class="img img-responsive">
    <div class="form">
        <input type="text" name="username" [(ngModel)]="loginModal.username" placeholder="Enter Username" class="form-control" required>
      <div *ngIf="error">
      <div *ngFor="let loginError of error.fieldErrors">
        <div class="error" *ngIf="loginError.field == 'username'">
          <p class="error format-error">{{loginError.message}}</p>
          <!--<p class="error" *ngIf="loginError.message == 'may not be null'" >Email is Required</p>-->
        </div>
      </div>
        </div>
      <input type="password" name="password" [(ngModel)]="loginModal.password"  placeholder="Enter Password" class="form-control " required>
      <div *ngIf="error">
        <div  *ngFor="let loginError of error.fieldErrors">
        <div class="error" *ngIf="loginError.field == 'password'">
          <p class="error format-error">{{loginError.message}}</p>
          <!--<p class="error" *ngIf="loginError.message == 'may not be null'" >Email is Required</p>-->
        </div>
      </div>
      </div>
      <button class="form-control" (click)="login()" >Login</button>
      <p *ngIf="error" class="error">{{error.description}}</p>
    </div>
  </div>
</form>
