.login {
  background: url('/assets/img/bg.png');
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  top: 0;
  position: absolute;
  height: 100vh;
  img{
    margin: 30px auto;
    display: block;
    max-width: 157px;
  }
  .login-box {
    max-width: 400px;
    min-height: 440px;
    background: rgb(255, 255, 255);
    margin: 0 auto;
    margin-top: 95px;
    margin-bottom: 0px;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.4);
    border: 1px solid rgb(185, 185, 185);
    border-radius: 2px;
  }
  .form{
    padding: 20px;
    input{
      margin-bottom: 14px;
      min-height: 46px;
      border: 1px solid #6eda44;
      color: #000;
    }
    button{
      background: #6eda44;
      color: #fff;
      min-height: 47px;
      margin-top: 30px;
      cursor: pointer;
    }
    p{
      text-align: center;
      margin-top: 17px;
      a{
        color:#6eda44;
      }
      &:hover{
        text-decoration: none;
      }
    }
  }
}
