<div class="sidebar">
  <nav class="sidebar-nav">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/homepage']"><i class="fa fa-user"></i> User Management </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/farm-management']"><i class="fa fa-home"></i> Farm Management</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/farm-accomdation']"><i class="fa fa-home"></i> Accommodation Management</a>
      </li>
    </ul>
  </nav>
</div>
