.show-detail{
  width: 100%;
  background: #fff;
  box-shadow: 0px 0px 4px #ccc;
  padding: 25px;
  margin-bottom: 40px;
  img{
    width: 100%;
    border-radius: inherit;
    max-width: 100%;
  }

  h4{
    color: #6eda44;
  }
  p{
    color: #555555;
  }
  h5{
    width: 100%;
    text-align: center;
    margin: 29px 0px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 26px;
    font-weight: 900;
    color: #6eda44;
  }
  .icon-image{
    width: 100%;
    max-width: 18px;
    margin-right: 11px;
  }
  .review-section{
    width: 100%;
    margin-top: 50px;
  }
  h3{
    font-size: 20px;
    color: #5f5f5f;
    position: absolute;
    left: 85px;
    top: 30px;
  }
  .review{
    width: 100%;
    padding: 20px;
    position: relative;
  }
  .gallery{
    width: 100%;
    height: 100%;
    min-height: 140px;
    margin-bottom: 10px;
  }
  .rate{
    text-align: right;
    width: 100%;
    max-width: 129px;
    float: right;
    position: absolute;
    right: 63px;
    top: 19px;
  }
  .desc{
    margin-top: 23px;
  }

  .review{
    img{
      width: 100%;
      max-width: 45px;
      border-radius: 50px;
      height: 45px;

    }
  }
}

ngb-rating{
  font-size: 20px;
  color: #FFC107;
}

.box{
  background: #6eda44;
  color: #fff;
  padding: 2px 7px;
  margin-right: 4px;
}
