<app-header></app-header>
<div class="app-body">
  <app-sidebar></app-sidebar>

  <!-- Main content -->
  <main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active">Farm Management</li>
    </ol>

    <div class="container-fluid">
      <div class="main-content">
        <div class="body-content">

        <div class="show-detail" *ngIf="singleFarm">
          <div class="row">
            <div class="col-sm-4">
              <img *ngIf="singleFarm.image" src="{{imageUrl}}{{singleFarm.image}}">
              <img *ngIf="singleFarm.image == ''" src="assets/img/farm-1.jpg">
            </div>
            <div class="col-sm-8">
              <h4>{{singleFarm.farmName}}</h4>
              <p><img src="assets/img/nav_contact.png" class="icon-image">{{singleFarm.mobile}}</p>
              <p><img src="assets/img/area.png" class="icon-image">{{singleFarm.area}} Sq. ft.</p>
              <p><img src="assets/img/accomodation.png" class="icon-image">
                <span *ngFor="let accomodation of accomodationList; let i = index">
                  <span class="box">{{i + 1}}</span>&nbsp;{{accomodation.name}}&nbsp;&nbsp;
                </span>

              </p>
              <p><img src="assets/img/location.png" class="icon-image">#999 Near Box Mall, San Fransico, California</p>
              <!--<p><img src="assets/img/location.png" class="icon-image">{{singleFarm.city}}, {{singleFarm.state}}, {{singleFarm.country}}</p>-->
              <p><img src="assets/img/desc.png" class="icon-image">{{singleFarm.description}}</p>
            </div>
            <div class="col-sm-12">
              <h5>Farm Images</h5>
            </div>
            <div class="col-sm-3" *ngFor="let image of imageGallery; let i=index">
              <div class="gallery">
              <img [src]="image.src" (click)="open(i)"/>
              </div>
            </div>

            <!--<div class="col-sm-3">-->
              <!--<img src="assets/img/farm-1.jpg">-->
            <!--</div>-->

            <div class="review-section">
              <h5>Reviews</h5>
            <div class="row">
              <div class="col-sm-12">
            <div class="review" *ngFor="let review of reviewList">
              <img src="{{review.profile.imageURL}}">
              <h3>{{review.profile.name}}</h3>
              <div class="rate">
                <ngb-rating [rate]="review.rating"></ngb-rating>
                <!--<star-rating-comp [starType]="'svg'" [rating]="3.63"></star-rating-comp>-->
              </div>
              <p class="desc">{{review.review}}</p>
            </div>
              </div>
            </div>
            </div>
          </div>
        </div>

        </div>
      </div>
    </div>
    <!-- /.conainer-fluid -->
  </main>
</div>

