<app-header></app-header>
<div class="app-body">
  <app-sidebar></app-sidebar>

  <!-- Main content -->
  <main class="main">

    <!-- Breadcrumb -->
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active">User Management</li>
    </ol>

    <div class="container-fluid">
      <div class="main-content">
        <div class="body-content">
          <div class="table-responsive">
          <table class="table">
            <thead>
            <th>Sr. No.</th>
            <th>User</th>
            <th>Name</th>
            <th>User Name</th>
            <th>Email</th>
            <th>Address</th>
            </thead>
            <tbody>
            <tr *ngFor="let user of userlist; let i = index">
              <td>{{i + 1}}</td>
              <td>
                <img src="{{user.imageURL}}" class="img img-circle">
                <!--<img *ngIf="user.imageURL" src="{{user.imageURL}}" class="img img-circle">-->
              </td>
              <td>{{user.name}}</td>
              <td>{{user.username}}</td>
              <td>{{user.email}}</td>
              <!--<td>{{user.city}}, {{user.state}}, {{user.country}}</td>-->
              <td>{{user.city}} {{user.state}} {{user.country}}</td>
              </tr>
            </tbody>
          </table>
          </div>
          <div class="page-center">
          <ngb-pagination [collectionSize]="totalElements" [pageSize]="10" [(page)]="currentPage" (pageChange)="pageChanged()"></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
    <!-- /.conainer-fluid -->
  </main>
</div>

