.top-form {
  width: 100%;
  padding: 10px;
  input{
    max-width: 300px;
    float: left;
    margin-right: 15px;
  }
  .btn{
    margin-left: 10px;
    cursor: pointer;
  }
  .btn-success{
    background-color: #77b94b;
    boder-color: #77b94b;
  }
}

table {
  width:100%;
  margin-top: 30px;
  background: #fff;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  img{
    width: 100%;
    max-width: 40px;
    height: 40px;

  }
}

.page-center{
  text-align: center;
  width: 100%;
  max-width: 100px;
  margin: 0 auto;
}
ul.pagination{
  width: 100%;
  max-width: 100px;
  margin: 0 auto;
}
