<app-header></app-header>
<div class="app-body">
  <app-sidebar></app-sidebar>

  <!-- Main content -->
  <main class="main">

    <!-- Breadcrumb -->
    <div class="row">
      <div class="col-sm-10">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item active">Accommodation Management</li>
    </ol>
      </div>
      <div class="col-sm-2">
        <button (click)="open(content)" class="btn-primary"><span class="fa fa-plus"></span>&nbsp;Add</button>
      </div>

      </div>

    <div class="container-fluid">
      <div class="main-content">
        <div class="body-content">
          <div class="table-responsive">
          <table class="table">
            <thead>
            <th>Sr. No.</th>
            <th>Accommodation</th>
            <th>Name</th>
            <th></th>

            </thead>
            <tbody>
            <tr *ngFor="let accomdation of accomdationList; let i = index">
              <td>{{i + 1}}</td>
              <td>
                <img src="{{imageUrl}}{{accomdation.image}}" class="img img-circle">
                <!--<img *ngIf="user.imageURL" src="{{user.imageURL}}" class="img img-circle">-->
              </td>
              <td>{{accomdation.name}}</td>
              <td>
                <button class="edit" (click)="editAccomdation(content,accomdation)" >&nbsp;<i class="fa fa-pencil"></i>&nbsp;Edit</button>
              </td>
            </tr>
            </tbody>

          </table>
          </div>
          <div class="page-center">
            <ngb-pagination [collectionSize]="totalElements" [pageSize]="10" [(page)]="currentPage" (pageChange)="pageChanged()"></ngb-pagination>
          </div>
        </div>
      </div>
    </div>
    <ng-template #content let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 *ngIf="!editAccomdationModal" class="modal-title">Add Accommodation</h4>
        <h4 *ngIf="editAccomdationModal" class="modal-title">Add Accommodation</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <div class="col-sm-12 upload-field ">
            <img src="{{image}}" class="upload-img ">
            <input type="file" [(ngModel)]="photo" value="" accept="image/*" (change)="fileChange($event)" name="image" class="form-control" >
            <!--<img *ngIf="this.sanadImage" id="sanad-img" src="" class="uploading-img" [src]="sanadImage">-->
          </div>
          </div>
          <div class="form-group">
          <input name="name" type="text" placeholder="Enter name" [(ngModel)]="accomdationModel.name"  class="form-control icon2" required>
          </div>
      </div>
      <div class="modal-footer">
        <button *ngIf="!editAccomdationModal" type="button" class="btn btn-primary" (click)=addAccomdation()>Add Accommodation</button>
        <button *ngIf="editAccomdationModal" type="button" class="btn btn-primary" (click)=addAccomdation()>Update</button>
      </div>
    </ng-template>
    <!-- /.conainer-fluid -->
  </main>
</div>

