.top-form {
  width: 100%;
  padding: 10px;
  input {
    max-width: 300px;
    float: left;
    margin-right: 15px;
  }
  .btn {
    margin-left: 10px;
    cursor: pointer;
  }
  .btn-success {
    background-color: #77b94b;
    boder-color: #77b94b;
  }
}

table {
  width: 100%;
  margin-top: 30px;
  background: #fff;
  border-right: 1px solid #ddd;
  border-left: 1px solid #ddd;
  img {
    border-radius: 50px;
    max-width: 33px;

  }
}

.page-center {
  text-align: center;
  width: 100%;
  max-width: 100px;
  margin: 0 auto;
}

ul.pagination {
  width: 100%;
  max-width: 100px;
  margin: 0 auto;
}

.btn-primary {
  margin: 27px auto;
  display: block;
  border: 0px;
  padding: 6px 39px;
  background: #6eda44;
  cursor: pointer;
}

.upload-img {
  max-width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.upload-field input {
  max-width: 144px;
  margin: 0 auto;
  min-height: 112px;
  height: 100px;
  width: 100%;
  opacity: 0;
}
.edit{
  border: 2px solid #6eda44;
  padding: 3px 13px;
  border-radius: 5px;
  color: #6eda44 !important;
  cursor: pointer;
  margin-right: 10px;
  background: transparent;
}
.edit:hover{
  color: #fff !important;
  background: #6eda44 ;
}
